# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log

/pkg
/bin/log
/bin/mongodb
/src/gopkg.in
/src/github.com
*reg_addr.csv
/bin/html/GM/account
/bin/html/GM/game*